.header {
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    margin-top: -10vh;
    position: sticky;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: absolute;
  }

  .btn-group button {
    margin: 0.5rem 0;
  }
}

.btn-group {
  display: inline-flex;
  position: relative;
}
.btn-group:before {
  display: block;
  position: absolute;
  top: 12px;
  right: 0;
  bottom: -12px;
  left: 0;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.5);
}
.btn-group button {
  color: #000;
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
  position: relative;
  padding: 12px 16px;
  z-index: 10;
  transition: top 140ms linear;
}
.btn-group button:first-child {
  border-radius: 8px 0 0 8px;
  margin: 0;
}
.btn-group button:last-child {
  border-radius: 0 8px 8px 0;
  margin: 0;
}
.btn-group button:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  bottom: -7px;
  z-index: 5;
  cursor: pointer;
  box-shadow: 0 0 0 1px #000;
  transition: bottom 140ms linear;
}
.btn-group button:first-child:before {
  border-radius: 8px 0 0 8px;
}
.btn-group button:last-child:before {
  border-radius: 0 8px 8px 0;
}
.btn-group button:hover {
  top: 4px;
}
.btn-group button:hover:before {
  bottom: -8px;
}
.btn-group button:active {
  top: 10px;
}
.btn-group button:active:before {
  bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
