.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: #e9e9eb;
}

.conteudo {
  width: 30%;
  position: relative;
}
.conteudo a {
  color: black;
}

.conteudo a:hover {
  color: #ca5843;
}

.conteudo p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0;
  text-align: justify;
}

.stack-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.stack-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 2rem;
}

.stack-icon {
  width: 3rem;
  height: 3rem;
}

.image {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .home {
    height: 100%;
    flex-direction: column;
    font-size: 15px;
  }

  .conteudo {
    width: 80%;
    margin-bottom: 10vh;
  }

  .conteudo p {
    font-size: 15px;
  }
}
