@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.LandingPage {
    font-family: "VT323", sans-serif;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    letter-spacing: 2px;
    align-items: center;
  }
  
  .Introduction {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .Introduction__GIF {
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
  
  .Projects {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .Projects__Carousel {
    display: flex;
  }


.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Contact__SocialMedia {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .Contact__SocialMedia__Link {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .Contact__Email {
    font-size: 20px;
  }