.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  background-color: #292430;
}

.AboutMe h2{
  font-weight: 400;
}
  
  .AboutMe a {
    color: #F5D6C8;
    text-decoration: none;
  }
